<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/make-up/login.css">
</head>

<body>
    <a target="_blank" th:href="@{/admin-panel}">Admin Panel</a>
    <main>
        <h1>Sign Up</h1>
        <form th:action="@{/profile}" th:object="${loginObject}" method="post">
            <input type="text" placeholder="Username" th:field="*{username}">
            <input type="password" placeholder="Password" th:field="*{password}">
            <button type="submit">Login</button>
            <div class="error">
                <p th:text="${error}"></p>
            </div>
        </form>
        <div class="signup-div">
            <p>Do Not Have an Account? <a th:href="@{/nav-to-signup}">Create Account</a></p>
        </div>
    </main>
</body>

</html>