<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Panel</title>
    <link rel="stylesheet" href="/make-up/profile.css">
    <link rel="stylesheet" href="/make-up/littles.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav class="sidebar">
            <div class="sidebar-header">
                <h3>User Panel</h3>
            </div>
            <ul class="sidebar-nav">
                <li><a href="#">Profile</a></li>
                <li>
                    <a class="deleteAcc" href="#">
                        Delete Account
                        <span class="dustbin-icon icon material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </li>
                <div class="deleteAcc-div fdc">
                    <p class="line-1 fdc">
                        <span>Deleting Account is Permanent, Hence Your Account Cannot Be Recoverd... </span>
                        <span>Are You Sure You Wanna Delete Your Account ?</span>
                    </p>
                    <p class="line-2 flex">
                        <a style="color: red;" th:href="@{/delete-account}" class="yes">yes</a>
                        <a style="color: rgb(0, 191, 255);" href="#" class="no">no</a>
                    </p>
                </div>
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="main-content">
            <header class="header">
                <div class="header-content">
                    <h1>Welcome, <span title="Username" th:text="${userInfo.fullName}"></span></h1>
                    <div class="right">
                        <div class="icons user-select-none">
                            <span title="Toggle Light Mode" class="sun material-symbols-outlined theme-toggle">
                                brightness_medium
                            </span>
                            <span title="Toggle Dark Mode" style="display: none;"
                                class="moon material-symbols-outlined theme-toggle">
                                dark_mode
                            </span>
                        </div>
                        <a href="#" class="btn btn-settings">Settings</a>
                    </div>
                </div>
            </header>

            <!-- Profile Section -->
            <main class="container">
                <section id="profile" class="profile">
                    <h2>Profile</h2>
                    <div class="profile-content">
                        <div class="profile-picture pointer">
                            <div th:if="${userInfo.data != null}">
                                <img th:src="@{/images/{id}(id=${userInfo.id})}" alt="Profile Picture">
                            </div>
                            <div th:if="${userInfo.data == null}">
                                <img src="/img/default-pic.webp" alt="Default Profile Picture">
                            </div>
                            <span style="display: none;" onclick="showProPic()" class="close material-symbols-outlined">
                                close
                            </span>
                        </div>
                        <div class="profile-details">
                            <div class="details">
                                <h3 title="Full Name" th:text="${userInfo.fullName}"></h3>
                                <div class="div" style="display: flex; gap: 1rem;">
                                    <p title="Username" th:text="${userInfo.username}"></p>
                                    <p title="Email" th:text="${userInfo.email}"></p>
                                </div>
                            </div>
                            <a onclick="showProfileEditingPanel()" href="#" class="btn edit-profile">Edit Profile</a>
                            <a th:href="@{/logout}" class="btn btn-logout">Logout</a>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="footer">
                <p>&copy; 2024 User Panel. All rights reserved. <a
                        href="https://github.com/sarthakdev143">sarthakdev143</a>
                </p>
            </footer>
        </div>

        <div id="profile-editing-ui-div">
            <span onclick="hideProfileEditingPanel()" class="close material-symbols-outlined">
                close
            </span>
            <form th:action="@{/updateProfile}" th:object="${userInfo}" method="post" enctype="multipart/form-data">
                <input class="input border" type="text" th:field="*{id}" hidden>
                <input class="input border" type="text" placeholder="Full Name" th:field="*{fullName}" required>
                <input class="input border" type="text" placeholder="Username" th:field="*{username}" required>
                <input class="input border" type="email" placeholder="Email" th:field="*{email}" required>
                <input class="input border" type="text" placeholder="Password" th:field="*{password}" required>
                <input class="input imgInp" type="file" name="imageFile">
                <button class="pointer" type="submit">Save Changes</button>
            </form>
        </div>
    </div>

    <script src="/make-up/script.js"></script>
</body>

</html>